body {
    margin: 0;
    border-radius: 5px;
}

.header-container {
    width: 100%;
    height: 60px;
    background-color: white;
    color: black;
    box-sizing: border-box;
}

h3 {
    font-size: 16pt;
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: 10px;

}

h4 {
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: normal;
}

p {
    margin-top: 10px;
    margin-bottom: 5px;
    font-style: italic;
}

.main-container {
    width: 100%;
    height: calc(100% - 120px);
    background: white;
    box-sizing: border-box;
}

.bottom-nav {
    height: 60px;
    background: white;
    box-sizing: border-box;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

#event-popup {
    height: auto;
    width: calc(100% - 12px);
    background: white;
    position: fixed;
    left:6px;
    bottom: 66px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 5px 0px gray;
}

.pad {
    padding: 20px;
}

.pad-half {
    padding: 10px;
}


.margin-left {
    margin-left: 18px;
}

.pad-left {
    padding-left: 18px;
}

.float-right {
    float: right;
}

#map {
    width: 100%;
    padding: calc(100vh - 120px) 0 0 0;
    transition: 200ms;
}

#event-list {
    height: calc(100vh - 120px);
    overflow: scroll;
}

.event-container {
    box-sizing: border-box;
}

.event-start {
    padding: 0;
}

.event-title {
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    padding-top: 10px;

}

#down-arrow-container {
    text-align: center;
    margin: auto;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    padding: 8px;
    border-radius: 50%;
}

i:hover {
    cursor: pointer !important;
    background-color: lightgray;
}

.food-type {
    width: 135px;
    height: 40px;
    border: 1px solid lightgrey;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    background-color: blue;
    border-radius: 20px;
}

/* DESKTOP STYLES */
@media screen and (min-width: 800px) {
    #event-popup {
        height: calc(100% - 132px);
        width: 400px;
        background: white;
        position: fixed;
        bottom: 66px;
        left:6px
        box-sizing: border-box;
    }
  }