body {
    margin: 0;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome and Opera */
}

.header-container {
    width: 100%;
    height: 60px;
    background-color: white;
    color: black;
    box-sizing: border-box;
    font-family: 'Petit Formal Script', cursive;
}

#new-event-time-start:before {
    content: 'Start Time';
    margin-right: .6em;
    color: grey;
    font-family: sans-serif;
}

#new-event-time-end:before {
    content: 'End Time';
    margin-right: .6em;
    color: grey;
    font-family: sans-serif;
}

h3 {
    font-size: 16pt;
    margin-bottom: 10px;

}

h4 {
    margin-bottom: 10px;
    margin-top: 5px;
}

p {
    margin-top: 10px;
    margin-bottom: 5px;
}

.main-container {
    width: 100%;
    height: calc(100% - 120px);
    background: white;
    box-sizing: border-box;
    box-shadow: 0 0 1px 0px black;
}

.bottom-nav {
    text-align: center;
    bottom: 30px;
    height: 60px;
    background: white;
    box-sizing: border-box;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.bottom-nav-item {
    padding: 8px;
    padding-left: 4px;
    padding-bottom: 6px;
    margin: 0 4px;
    border-radius: 3px;
    transition-duration: 0.2s;
}

.bottom-nav-item:hover {
    /* box-shadow: 0 1px 2px 1px gray; */
    background: rgb(180, 210, 255);
    cursor: pointer;
}

.big-button {
    padding: 4px 10px;
    padding-right:16px;
    border-radius: 3px;
    margin: 4px 0px;
    margin-top:14px;
    transition-duration: 0.2s;
    background:lightgray;
}

.big-button:hover {
    background: rgb(180, 210, 255);
    cursor: pointer;
}

span {
    vertical-align: 5px;
    display: inline-block;
}

.event-popup {
    height: auto;
    display: table;
    width: calc(100% - 12px);
    max-height: calc(100% - 132px);
    background: white;
    position: fixed;
    left: 6px;
    bottom: 66px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 5px 0px gray;
    overflow: scroll;
}

#filter-popup {
    text-align: center;
    position: fixed;
    left: 6px;
    bottom: 66px;
}

#filter-popup h4:hover {
    cursor: pointer;
}

.active-filter {
    background-color: green !important;
    color: white;
}

.pad {
    padding: 20px;
}

.margin-pad {
    margin: 20px;
}

.pad-half {
    padding: 10px;
}


.margin-left {
    margin-left: 18px;
}

.pad-left {
    padding-left: 18px;
}

.float-right {
    float: right;
}

#map {
    width: 100%;
    padding: calc(100vh - 120px) 0 0 0;
    transition: 200ms;
}

.event-start {
    padding: 0;
}

.event-title {
    margin-top: 0px;

}



.new-form {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.new-form * {
    margin: 1em 0 1em 0;
}

.new-wide-field {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
}

.new-mid-field {
    width: 50%;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
}

#new-create-event {
    background-color: green;
    float: right;
}

#new-cancel-event {
    float: right;
}

.event-title-list {
    margin-top: 0;
}

#down-arrow-container {
    text-align: center;
    margin: auto;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* icon styles */
i {
    padding: 6px;
    border-radius: 50%;
    margin-top: -2px;
    margin-right: -2px;
}

i:hover {
    cursor: pointer !important;
    background: lightgray;
}

.bottom-nav i {
    margin: 0;
    padding: 0 4px;
}

.bottom-nav i:hover {
    background: none;
}

#close-list-icon {
    background: white;
    position: sticky;
    margin: 0;
    top: 20px;
    right: 20px;
}

#my-location-icon{
    float: right;
    margin-top: -8px;
}

.food-type {
    margin: 5px;
    width: auto;
    padding: 8px 10px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    background-color: lightgray;
    border-radius: 20px;
}

.food-type:hover {
    cursor: pointer;
}

.list-navigation-button{
    
}

.event-container:hover .list-navigation-button{
    opacity:1;
    box-shadow: 0 0px 3px 1px gray;
}

.event-container:hover{
    background: lightgray;
}

/* DESKTOP STYLES */
@media screen and (min-width: 800px) {
    .event-popup {
        height: auto;
        max-height: calc(100% - 132px);
        width: 400px;
        background: white;
        position: fixed;
        top: 66px;
        left: 6px;
        box-sizing: border-box;
    }

    #filter-popup {
        text-align: left;
    }
}
.tooltip {
    position: relative;
    float:right;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip-right {
  left: 125%;  
}

.tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip-bottom {
  top: 135%;
  left: 50%;  
  margin-left: -60px;
}

.tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip-top {
  bottom: 125%;
  left: 50%;  
  margin-left: -60px;
}

.tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-left {
  bottom:auto;
  right: 128%;  
}
.tooltip-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}


@media screen and (max-width: 360px) {
    .hide-small {
        display: none;
    }

    #new-event-button {
        margin: 0 6px;
    }

}