body {
    margin: 0;
}

.header-container {
    width: 100%;
    height: 60px;
    background-color: white;
    color:black;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    height: calc(100% - 120px);
    background: white;
    box-sizing: border-box;
}

.bottom-nav {
    height: 60px;
    background: white;
    box-sizing: border-box;
}

#event-popup {
    height: auto;
    width: 100%;
    background: white;
    position: fixed;
    bottom: 60px;
    box-sizing: border-box;
}

.pad {
    padding: 20px;
}

.pad-half {
    padding: 10px;
}


.margin-left {
    margin-left: 18px;
}

.float-right {
    float: right;
}

#map {
    width: 100%;
    padding: calc(100vh - 120px) 0 0 0;
    transition: 200ms;
}

#event-list {
    height: calc(100vh - 120px);
    overflow: scroll;
}

.event-container {
    box-sizing: border-box;
}

.event-start {
    padding: 0;
}

.event-title-list {
    text-align: left;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 15pt;
}

#down-arrow-container {
    text-align: center;
    margin: auto;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    padding:8px;
    border-radius: 50%;
}

i:hover{
    cursor: pointer !important;
    background-color: lightgray;
}

.food-type {
    width: 135px;
    height: 40px;
    border: 1px solid lightgrey;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    background-color: blue;
    border-radius: 20px;
}

/* DESKTOP STYLES */
@media screen and (min-width: 800px) {
    #event-popup {
        height: calc(100% - 120px);
        width: 400px;
        background: white;
        position: fixed;
        bottom: 60px;
        box-sizing: border-box;
    }
  }